#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd

In [3]:
data_path = '../content/drive/MyDrive/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [4]:
groupbyBranch = df.groupby('Branch')['Total'].sum().round(3)
groupbyBranch.sort_values(ascending=False)

Branch
C    110568.706
A    106200.370
B    106197.672
Name: Total, dtype: float64

–ù–∞–π–≤–∏—â–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –º–∞—î —Ñ—ñ–ª—ñ–∞–ª –°.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [5]:
df[df['Branch'] == 'C']

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
20,300-71-4605,C,Naypyitaw,Member,Male,Electronic accessories,86.04,5,21.5100,451.7100,2/25/2019,11:24,Ewallet,430.20,4.761905,21.5100,4.8
34,183-56-6882,C,Naypyitaw,Member,Female,Food and beverages,99.42,4,19.8840,417.5640,2/6/2019,10:42,Ewallet,397.68,4.761905,19.8840,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,1/23/2019,10:33,Cash,699.72,4.761905,34.9860,6.1
984,189-40-5216,C,Naypyitaw,Normal,Male,Electronic accessories,96.37,7,33.7295,708.3195,1/9/2019,11:40,Cash,674.59,4.761905,33.7295,6.0
988,267-62-7380,C,Naypyitaw,Member,Male,Electronic accessories,82.34,10,41.1700,864.5700,3/29/2019,19:12,Ewallet,823.40,4.761905,41.1700,4.3
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ –º—ñ—Å—Ç—ñ Naypyitaw.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [6]:
from numpy._core.defchararray import count
invoices_by_category = df.pivot_table(index= 'Branch', columns='Product line',values='Quantity',aggfunc="count")
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [7]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1.–ü–æ—à—É–∫ —Ç–∞ —ñ–¥–µ–Ω—Ç–∏—Ñ—ñ–∫–∞—Ü—ñ—è –≤—ñ–ø –∫–ª—ñ—î–Ω—ñ–≤ –ø–æ –º—ñ—Å—Ç–∞–º.
–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
- —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –≤—ñ–¥–¥—ñ–ª—É –ø–æ —Ä–æ–±–æ—Ç—ñ –∑ –≤—ñ–ø –∫–ª—ñ—î–Ω—Ç–∞–º–∏.
- –Ω–æ–≤–∞ —Å–µ–≥–º–µ–Ω—Ç–∞—Ü—ñ—è –ø–æ –∑–∞–≥–∞–ª—å–Ω—ñ–π –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫.
- —ñ–Ω–¥–∏–≤—ñ–¥—É–∞–ª—å–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥ —Ç–∞ –≤–∏–≤—á–µ–Ω–Ω—è –ø–æ—Ç—Ä–µ–± –∫–ª—ñ—î–Ω—Ç–∞.
- –∑–∞–∫—Ä—ñ–ø–ª–µ–Ω–Ω—è –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω–∏—Ö –º–µ–Ω–µ–¥–∂–µ—Ä—ñ–≤ –∑–∞ –∫–ª—ñ—î–Ω—Ç–∞–º–∏.
- –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–Ω—è —ó—Ö –ø–æ—Ç—Ä–µ–±.
- –≤–∏—Å–æ–∫–∏–π —Ä—ñ–≤–µ–Ω—å —Å–µ—Ä–≤—ñ—Å—É —Ç–∞ —Ç—É—Ä–±–æ—Ç–∏.
- —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ —É–º–æ–≤–∏ —Ç–∞ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó
- —à–≤–∏–¥–∫—ñ—Å—Ç—å , –≤–∏—Ä—ñ—à–µ–Ω–Ω—è –ø—Ä–æ–±–ª–µ–º —É –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ —à–≤–∏–¥–∫–∏–π —Ç–µ—Ä–º—ñ–Ω.

In [8]:
df.sort_values(by = ['Total', 'City'], ascending=False).head(15)
#pivot_total = pd.pivot_table(df, index='Customer type', columns='City', values='Total',aggfunc=max)
#pivot_total

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.6500,1042.6500,2/15/2019,14:53,Credit card,993.00,4.761905,49.6500,6.6
167,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.4900,1039.2900,2/8/2019,16:20,Credit card,989.80,4.761905,49.4900,8.7
557,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.2600,1034.4600,1/30/2019,20:23,Ewallet,985.20,4.761905,49.2600,4.5
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10,48.7500,1023.7500,1/12/2019,16:18,Ewallet,975.00,4.761905,48.7500,8.0
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
792,744-16-7898,B,Mandalay,Normal,Female,Home and lifestyle,97.37,10,48.6850,1022.3850,1/15/2019,13:48,Credit card,973.70,4.761905,48.6850,4.9
422,271-88-8734,C,Naypyitaw,Member,Female,Fashion accessories,97.21,10,48.6050,1020.7050,2/8/2019,13:00,Credit card,972.10,4.761905,48.6050,8.7
166,234-65-2137,C,Naypyitaw,Normal,Male,Home and lifestyle,95.58,10,47.7900,1003.5900,1/16/2019,13:32,Cash,955.80,4.761905,47.7900,4.8
357,554-42-2417,C,Naypyitaw,Normal,Female,Sports and travel,95.44,10,47.7200,1002.1200,1/9/2019,13:45,Cash,954.40,4.761905,47.7200,5.2
429,325-77-6186,A,Yangon,Member,Female,Home and lifestyle,90.65,10,45.3250,951.8250,3/8/2019,10:53,Ewallet,906.50,4.761905,45.3250,7.3
141,280-17-4359,C,Naypyitaw,Member,Male,Health and beauty,90.50,10,45.2500,950.2500,1/25/2019,13:48,Cash,905.00,4.761905,45.2500,8.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220,3/9/2019,17:26,Credit card,899.64,4.761905,44.9820,4.2
941,702-83-5291,C,Naypyitaw,Member,Male,Fashion accessories,99.82,9,44.9190,943.2990,3/27/2019,10:43,Cash,898.38,4.761905,44.9190,6.6
140,731-81-9469,C,Naypyitaw,Member,Female,Sports and travel,89.80,10,44.9000,942.9000,1/23/2019,13:00,Credit card,898.00,4.761905,44.9000,5.4
209,817-69-8206,B,Mandalay,Normal,Female,Electronic accessories,99.73,9,44.8785,942.4485,3/2/2019,19:42,Credit card,897.57,4.761905,44.8785,6.5

2. –Ø–∫–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤ —î Normal,–∞ —è–∫–∞ Member - –ø–æ –º—ñ—Å—Ç–∞–º?
–ü—Ä–æ–≤—ñ—à–∏ –¥–æ—Å–ª—ñ–¥–∂–µ–Ω–Ω—è –º–∏ –ø–æ–±–∞—á–∏–ª–∏, —â–æ –∫–ª—ñ—î–Ω—Ç–∏ Member —Ç–∞ Normal —Ä–æ–∑–¥—ñ–ª–µ–Ω—ñ –±–ª–∏–∑—å–∫–æ 50% –Ω–∞ 50%.
–ù–∞–≥–∞–¥–∞—é, —â–æ —Ç–∏–ø –∫–ª—ñ—î–Ω—Ç—ñ–≤ –¥—ñ–ª—è—é—Ç—å—Å—è: Member -  —â–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç–∫—É —á–ª–µ–Ω–∞, —Ç–∞ Normal - –∑–≤–∏—á–∞–π–Ω—ñ –±–µ–∑ –∫–∞—Ä—Ç–∫–∏.
–•–æ—á—É –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –ø–µ–≤–Ω–µ –∑–∞–æ—Ö–æ—á–µ–Ω–Ω—è, —â–æ–± –Ω–∞—à—ñ –∫–ª—ñ—î–Ω—Ç–∏ —Ö–æ—Ç—ñ–ª–∏ —Å—Ç–∞—Ç–∞—Ç–∏ —á–ª–µ–Ω–∞–º–∏, —â–æ –º–∞—é—Ç—å –Ω–∞—à—É –æ—Å–æ–±–ª–∏–≤—É –∫–∞—Ä—Ç–∫—É.
–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó —Ç–∞ –¥—ñ—ó:
- –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –Ω–∞–∫–æ–ø–∏—á—É–≤–∞–ª—å–Ω—É –ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω—É —Å–∏—Å—Ç–µ–º—É –¥–ª—è –Ω–∞—à–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤, –ø—ñ–∑–Ω—ñ—à–µ –≤–æ–Ω–∏ –∑–º–æ–∂—É—Ç—å –≤–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ —Ü—ñ –±–∞–ª–∏ –≤ –Ω–∞—à–æ–º—É –º–∞–≥–∞–∑–∏–Ω—ñ –∞–±–æ –º–∞–≥–∞–∑–∏–Ω–∞—Ö –ø–∞—Ä—Ç–Ω–µ—Ä—ñ–≤  —ñ –±—É–¥—É—Ç—å –ø–æ–≤–µ—Ä—Ç–∞—Ç–∏—Å—è —Ç–∞ –Ω–∞–º–∞–≥–∞—Ç–∏—Å—è –∑–¥—ñ–π—Å–Ω–∏—Ç–∏ –ø–æ–∫—É–ø–∫–∏ —É –Ω–∞—Å.
- —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –¥–æ–¥–∞—Ç–∫—É –¥–ª—è —á–ª–µ–Ω—ñ–≤, —â–æ –º–∞—é—Ç—å –∫–∞—Ä—Ç—É, —â–æ–± –±—É–ª–∞ –∑–º–æ–≥–∞ –∫–æ–º—É–Ω—ñ–∫—É–≤–∞—Ç–∏ –∑ –Ω–∞—à–∏–º –∫–ª—ñ—î–Ω—Ç–æ–º.
- —Å–ø–æ–≤—ñ—â–µ–Ω–Ω—è –ø—Ä–æ –¥–µ–≥—É—Å—Ç–∞—Ü—ñ—ó, –∞–∫—Ü—ñ—ó, –æ–Ω–æ–≤–ª–µ–Ω–Ω—è, –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó —á–µ—Ä–µ–∑ –¥–æ–¥–∞—Ç–∫–∏.
- —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ª–æ—è–ª—å–Ω–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤ –≤ –Ω–∞—à–æ–º—É –∫–æ–º'—é–Ω—ñ—Ç—ñ - –¥–æ–¥–∞—Ç–∫—É.
- –¥–æ–¥–∞—Ç–∫–æ–≤—ñ –±–∞–ª–∏ —Ç–∞ –∑–Ω–∏–∂–∫–∏ –Ω–∞ –î–µ–Ω—å –ù–∞—Ä–æ–¥–∂–µ–Ω–Ω—è.
- —è–∫—â–æ –Ω–∞—à –∫–ª—ñ—î–Ω—Ç –Ω–µ–º–∞—î –∫–∞—Ä—Ç–∏ - –ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ —ó—ó –Ω–∞ –∫–∞—Å–∞—Ö ,—è–∫—â–æ –∫–ª—ñ—î–Ω—Ç –º–∞—î –∫–æ–Ω—Ç–∞–∫—Ç –∑ –∫–∞—Å–∏—Ä–æ–º,–∞–±–æ —á–µ—Ä–µ–∑ —Å–∞–º–æ–∫–∞—Å–∏ - –ø–æ–∫–∞–∑—É–≤–∞—Ç–∏ —Å–∫—ñ–ª—å–∫–∏ –≤—ñ–Ω –º—ñ–≥ –±–∏ –∑–∞–æ—â–∞–¥–∏—Ç–∏ , –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∫–∞—Ä—Ç—É.

In [9]:
CustomerType_pivot = pd.pivot_table(df, index='Customer type', columns='City', values='Invoice ID',aggfunc=pd.Series.nunique)
CustomerType_pivot

City           Mandalay  Naypyitaw  Yangon
Customer type
Member              165        169     167
Normal              167        159     173

In [10]:
CustomerType_pivot.sum(axis=0)

City
Mandalay     332
Naypyitaw    328
Yangon       340
dtype: int64

In [11]:
perc_CustomerType_pivot = CustomerType_pivot.div(CustomerType_pivot.sum(axis=0), axis=1).round(3) * 100
perc_CustomerType_pivot

City           Mandalay  Naypyitaw  Yangon
Customer type
Member             49.7       51.5    49.1
Normal             50.3       48.5    50.9

3. –í —è–∫–∏–π –∑ –º—ñ—Å—è—Ü—ñ–≤ –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ? –ß–∏ —Ä—ñ–≤–Ω–æ–º—ñ—Ä–Ω–∏–π –ø–æ–ø–∏—Ç?
–ó—Ä–æ–±–∏–≤—à–∏ –∞–Ω–∞–ª—ñ–∑ –∑–∞ —Ç—Ä–∏ –º—ñ—Å—è—Ü—ñ —Ä–æ–±–æ—Ç–∏ –º–∏ –±–∞—á–∏–º–æ,—â–æ –∑–∞:

- —Å—ñ—á–µ–Ω—å - 35.3%
- –ª—é—Ç–∏–π - 30.3%
- –±–µ—Ä–µ–∑–µ–Ω—å - 34.5%

–ù–∞–π–±—ñ–ª—å—à–∏–π –ø–æ–ø–∏—Ç –º–∏ –ø–æ–º—ñ—Ç–∏–ª–∏ –≤ —Å—ñ—á–Ω—ñ —Ç–∞ –º–∞–π–∂–µ –Ω–∞ —Ç–æ–º—É –∂ —Ä—ñ–≤–Ω—ñ –±–µ—Ä–µ–∑–µ–Ω—å. –ú–æ–∂—É –∑—Ä–æ–±–∏—Ç–∏ –ø—Ä–∏–ø—É—â–µ–Ω–Ω—è, —â–æ –≤ —Å—ñ—á–Ω—ñ –±–∞–≥–∞—Ç–æ –Ω–∞—à–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ –≤—ñ–¥–ø–æ—á–∏–≤–∞—î, —à–∫–æ–ª—è—Ä—ñ –º–∞—é—Ç—å –∫–∞–Ω—ñ–∫—É–ª–∏ —ñ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –≤–∏—â–∞.
–í –±–µ—Ä–µ–∑–Ω—ñ –ø–æ–ø–∏—Ç —Ç—Ä–∏–º–∞—î—Ç—å—Å—è –Ω–∞ —Ä—ñ–≤–Ω—ñ —Å—ñ—á–Ω—è, –±–µ—Ä–µ–∑–Ω–µ–≤—ñ —Å–≤—è—Ç–∞ —Ç–∞ –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è –ø–æ–≥–æ–¥–Ω–∏—Ö —É–º–æ–≤ –º–æ–∂—É—Ç—å –≤–ø–ª–∏–≤–∞—Ç–∏ –Ω–∞ —Ü–µ.
–í –ª—é—Ç–æ–º—É –Ω–∞–π–º–µ–Ω—à–µ –¥–Ω—ñ–≤ , —â–æ –∑–≤—ñ—Å–Ω–æ –≤–ø–ª–∏–≤–∞—î –Ω–∞ –≤—ñ–¥—Å–æ—Ç–∫–æ–≤–µ —Å–ø—ñ–≤–≤—ñ–¥–Ω–æ—à–µ–Ω–Ω—è. –¢–∞ –π–º–æ–≤—ñ—Ä–Ω–æ –ø—Ä–æ–¥–∞–∂—ñ –ø—Ä–æ—Å—ñ–ª–∏.

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
- –≤—ñ–¥—Å–ª—ñ–¥–∫–æ–≤–∞–Ω–Ω—è –¥–∏–Ω–∞–º—ñ–∫–∏ –ø—Ä–æ–¥–∞–∂—ñ–≤ —â–æ–º—ñ—Å—è—á–Ω–æ.
- –∞–Ω–∞–ª—ñ–∑ –∑ –ø–æ–ø–µ—Ä–¥–Ω—ñ–º–∏ –º—ñ—Å—è—Ü—è–º–∏ —Ç–∞ —ñ—Å—Ç–æ—Ä–∏—á–Ω–∏–º–∏ –ø–æ–∫–∞–∑–Ω–∏–∫–∞–º–∏ –ø–æ–ø–µ—Ä–µ–¥–Ω—ñ—Ö —Ä–æ–∫—ñ–≤.
- –ø–ª–∞–Ω—É–≤–∞–Ω—è –∞–∫—Ü—ñ–π –Ω–∞ –ª—é—Ç–∏–π –º—ñ—Å—è—Ü—å.
- –∞–∫—Ç–∏–≤–Ω–∞ –∫–æ–º—É–Ω—ñ–∫–∞—Ü—ñ—è –∑ –∫–ª—ñ—î–Ω—Ç–æ–º –≤ –Ω–∞—à–∏—Ö —Å–æ—Ü–º–µ—Ä–µ–∂–∞—Ö , —á–µ—Ä–µ–∑ –¥–æ–¥–∞—Ç–æ–∫.
- –∞–∫—Ç–∏–≤–Ω–∞ —É–≤–∞–≥–∞–º –¥–æ –Ω–∞—à–∏—Ö –≤—ñ–ø –∫–ª—ñ—î–Ω—Ç—ñ–≤.

In [12]:
def get_month(date_str):
  date = pd.to_datetime(date_str,format= '%m/%d/%Y')
  return date.month

In [13]:
df['Month'] = df['Date'].apply(get_month)

In [14]:
month_3 = df.groupby('Month')['Month'].count()
month_3

Month
1    352
2    303
3    345
Name: Month, dtype: int64

In [15]:
month_3/month_3.sum() * 100

Month
1    35.2
2    30.3
3    34.5
Name: Month, dtype: float64